In [11]:
 #Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
# Study data files
mouse_metadata_path = "Resources/Mouse_metadata.csv"
study_results_path = "Resources/Pymaceuticals_data_Study_results (1).csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
mouse_study_df = pd.read_csv(study_results_path)

#establish random seed(?)

In [12]:

metadata_df = pd.DataFrame(mouse_metadata)
metadata_df.head()

  Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
0     k403     Ramicane    Male          21          16
1     s185    Capomulin  Female           3          17
2     x401    Capomulin  Female          16          15
3     m601    Capomulin    Male          22          17
4     g791     Ramicane    Male          11          16

In [27]:
# Combine the data into a single dataset
Merged_df = pd.merge(metadata_df,mouse_study_df, on = ["Mouse ID"])
# Display the data table for preview
Merged_df.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [18]:
# Checking the number of mice.
len(Merged_df["Mouse ID"].unique())

249

In [57]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 

duplicate_mice = Merged_df.loc[Merged_df.duplicated(subset=['Mouse ID', 'Timepoint']),'Mouse ID'].unique()
duplicate_mice
#look for last duplicate

array(['g989'], dtype=object)

In [59]:
mouse_id = Merged_df.loc[Merged_df['Mouse ID']=="g989"]
mouse_id
# Optional: Get all the data for the duplicate mouse ID.

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
908,g989,Propriva,Female,21,26,0,45.000000,0
909,g989,Propriva,Female,21,26,0,45.000000,0
910,g989,Propriva,Female,21,26,5,48.786801,0
911,g989,Propriva,Female,21,26,5,47.570392,0
912,g989,Propriva,Female,21,26,10,51.745156,0
913,g989,Propriva,Female,21,26,10,49.880528,0
914,g989,Propriva,Female,21,26,15,51.325852,1
915,g989,Propriva,Female,21,26,15,53.442020,0
916,g989,Propriva,Female,21,26,20,55.326122,1
917,g989,Propriva,Female,21,26,20,54.657650,1
918,g989,Propriva,Female,21,26,25,56.045564,1
919,g989,Propriva,Female,21,26,30,59.082294,1
920,g989,Propriva,Female,21,26,35,62.570880,2

In [65]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
#Cleaned_table = .unique

cleaned_table = Merged_df.loc[Merged_df['Mouse ID'].isin(duplicate_mice)==False]
cleaned_table.head()
#table is throwing off other steps, find function other than drop_duplicates, only dropping one mouse
#.loc #filtering for duplicate mouse

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [66]:
# Checking the number of mice in the clean DataFrame.
Final_count = len(cleaned_table["Mouse ID"].unique())
Final_count

248

In [67]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# This method is the most straighforward, creating multiple series and putting them all together at the end.
Tumor_table = cleaned_table.groupby("Tumor Volume (mm3)")
Tumor_table.head()
#cleaned_table.describe([])

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [ ]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# This method produces everything in a single groupby function

In [ ]:
drug_table = cleaned_table.drop_duplicates(subset=["Drug Regimen"])
drug_table.head()

In [ ]:
y_axis = Merged_df.groupby("Drug Regimen").count()["Mouse ID"]
y_axis.head()

In [ ]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pandas. 
#x_axis = len(drug_table["Drug Regimen"])
plt.bar(drug_table["Drug Regimen"], y_axis, color="b",align="center")
plt.show()

In [ ]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pyplot.
plt.bar

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pandas
Sex_pie_df = cleaned_table.groupby("Sex").nunique()["Mouse ID"]
Sex_pie_df.plot(kind="pie", autopct="%.2f%%", title="Mouse Gender Breakdown")

In [ ]:

Sex_pie_df

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot
plt.title("Mouse Gender Breakdown")
plt.pie(members, explode=explode, labels=gyms, colors=colors,
        autopct="%1.1f%%", shadow=True, startangle=90)
plt.axis("equal")
plt.show()

In [ ]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
#find largest timepoint for each relevant regimen
#group by treatment regimen, find sums for tumor volumes
# Capomulin, Ramicane, Infubinol, and Ceftamin
#Capomulin_tumor = cleaned_table.loc("Capomulin").sum()["Tumor Volume (mm3)"]
# Start by getting the last (greatest) timepoint for each mouse

Duplicate_mice = Merged_df.groupby(['Mouse ID']).max()['Timepoint']
Reset_duplicates = Duplicate_mice.reset_index()

# Merge this group df with the original dataframe to get the tumor volume at the last timepoint
Merged_tumor = pd.merge(Reset_duplicates, Merged_df, on= ["Mouse ID","Timepoint"], how="left")
Merged_tumor

In [ ]:
Reset_duplicates

In [ ]:
# Put treatments into a list for for loop (and later for plot labels)

Treatment = ['Capomulin', 'Ramicane', 'Infubinol', 'Ceftamin']
# Create empty list to fill with tumor vol data (for plotting)

tumor_vol = []
# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [ ]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest
box_tumor = _.boxplot
ax1.set_title('Regimens')
ax1.set_ylabel('Final Tumor Volumes')
ax1.boxplot(times)
plt.show()

In [ ]:
# Generate a line plot of time point versus tumor volume for a mouse treated with Capomulin
Capomulin_over_time = plt.plot

In [ ]:
# Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin regimen
Mouse_tumor_weight = plt.scatter
plt.xlabel('Mouse Weight')
plt.ylabel('Tumor Volume')
plt.show()

In [ ]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen